[submodule "Zuplet_Engine/vendor/GLFW"]
	path = Zuplet_Engine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Zuplet_Engine/vendor/spdlog"]
	path = Zuplet_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Zuplet_Engine/vendor/imgui"]
	path = Zuplet_Engine/vendor/imgui
	url = https://github.com/TheCherno/imgui
